{% extends "base.html" %}
{% block title %}Todo List{% endblock title %}

{% block content %}

<h1 class="text-center m-4">My todo list</h1>
{% for todo in todo_list %}
<div class="card p-3 my-3 flex-row justify-content-between">
    <div>
        <h3>{{todo.title}} </h3>
        <p>{{todo.created_at}}</p>
    </div>
    <div>
        <form action="">
            {% csrf_token %}
            <input type="button" class='btn btn-primary' value="Complete">
            <input type="button" class='btn btn-danger' value="Delete">
        </form>
    </div>
 
</div>

{% endfor %}
{% endblock content %}